<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightSB service</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Numans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Menu">
        <span class="LightSB">LightSB</span>

        <div class="Menu-item Home active">
            <img src="/static/img/icon-home.svg" class="iconhome">
            <span class="Home-txt">Home</span>
        </div>

        <div class="Menu-item Generator">
            <img src="/static/img/icon-generator.svg" class="icongenerator">
            <span class="Generator-txt">Generator</span>
        </div>

        <div class="Menu-item About-us">
            <img src="/static/img/icon-about-us.svg" class="iconaboutus">
            <span class="About-us-txt">About us</span>
        </div>

        <div class="Menu-item Profile">
            <div class="Line"></div>
            <img src="/static/img/icon-account-circle.svg" class="iconprofile">
            <span class="Profile-txt">Profile</span>
        </div>
    </div>

    <div class="Content-area">
        <span class="Main-text">
            Main information
        </span>
        <span class="Main-text-second">
            Welcome to the LightSB service!
          </span>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
